<div class="row-fluid" ng-controller="NoteBooksCtrl">
	<div class="content clearfix">
  	<h1>我的笔记本</h1>  	  
		<div class="action">
			<p>
				<span ng-if="noteBooks.length > 0">当前您共有<span class='count'>{{noteBooks.length}}</span>个笔记本</span>
			  <span class="text-warning" ng-if="noteBooks.length == 0">目前，您没有任何笔记本，您可以立即创建：</span>
			  <%= link_to "创建笔记本...", "", :class=>"btn btn-info", :"ng-click"=>"displayNoteBookForm()", :"ng-hide"=>"form.display"%>
		  </p>
		</div>
		<%= render 'note_book_form' %>
		<ul class="noteBooks" ng-if="noteBooks.length > 0">
		  <li class="noteBook" ng-repeat="noteBook in noteBooks">
		  	<%= render 'note_book_detail' %>
		  </li>	
		</ul>
  </div>
</div>

<% content_for :styles do %>
  <%= stylesheet_link_tag "note-books", :media => "all" %>
<% end %>  

<% content_for :scripts do %>
  <%= javascript_include_tag "note-books-index" %>
<% end %>