<div class="row-fluid" ng-controller="PlanCtrl">
		<div class="note">
			<div class="note-front">
				<p class="text-center">Shed</p>
				<p class="text-center text-info"><small>点击显示答案</small></p>
			</div>		
			<div class="note-back hide">
				<p class="text-center">Shed</p>
				<hr/>
				<p>
					<small>hide in default</small>
				</p>
			</div>
		</div>
		<ul class="inline note-actions text-center">
			<li>
				<%= render 'review_action', :status=>"too_easy", :user_id=>"1", :note_id=>"1", :button=>"太简单了，灭掉"%>
			</li>
			<li>
				<%= render 'review_action', :status=>"easy", :user_id=>"1", :note_id=>"1", :button=>"哈哈，我还记得"%>
			</li>
			<li>
				<%= render 'review_action', :status=>"medium", :user_id=>"1", :note_id=>"1", :button=>"大概记得"%>
			</li>
			<li>
				<%= render 'review_action', :status=>"difficult", :user_id=>"1", :note_id=>"1", :button=>"不记得了"%>
			</li>
			<li>
				<%= render 'review_action', :status=>"too_difficult", :user_id=>"1", :note_id=>"1", :button=>"糟糕，完全没印象了"%>
			</li>
		</ul>
</div>
<% content_for :styles do %>
  <%= stylesheet_link_tag "plan", :media => "all" %>
<% end %>  
<% content_for :scripts do %>
  <%= javascript_include_tag "plans-review" %>
<% end %>  
