<!DOCTYPE html>
<html ng-app=''>
<head>
  <title>马拉松大赛</title>
  <meta name="keywords" content="千学网, 速记, 记忆, 考研政治, 政治考研">
  <meta name="description" content="考研政治速记的应用">
  <meta name="author" content="aqingsao">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="/">编程大赛</a>
        <div class="navbar-text pull-right">
          <a class="btn btn-info" href="/login"> 登录</a>
          <a class="btn btn-info" href="/signup"> 注册</a>
        </div>
        <div class="nav-collapse collapse clearfix">
          <ul class="nav clearfix">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/books">我的教材</a></li>
            <li><a href="/about">关于我们</a></li>
          </ul>
          </div>  
      </div>
    </div>
  </header>
  <div class="bg-wrap">
      <%= yield %>
  </div>

  <footer id="footer">
    <div class="container-fluid">
      <ul class="clearfix">
        <li> <a href="/about"> 关于我们</a></li>
        <li> <a href="/"> 新浪微博</a></li>
        <li> <a href="/"> 使用协议</a></li>
        <li> <a href="/privacy"> 隐私条款</a></li>
      </ul>
      <p>
        <span> 2013千学网版权所有</span>
      </p>
    </div>
  </footer>

  <%= javascript_include_tag "jquery-2.0.0.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= yield :scripts%>
</body>
</html>