<!DOCTYPE html>
<html ng-app='myapp'>
<head>
  <title>马拉松大赛</title>
  <meta name="keywords" content="千学网, 速记, 记忆, 考研政治, 政治考研">
  <meta name="description" content="考研政治速记的应用">
  <meta name="author" content="aqingsao">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
    <%= yield :styles%>

  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="nav-collapse collapse">
          <a class="brand" href="/">编程大赛</a>
          <ul class="nav clearfix">
            <li id='nav-home' class="active">
              <%= link_to "首页", root_path %>
            </li>
            <li id='nav-noteBooks'>
              <%= link_to "所有笔记本", noteBooks_path%>
            </li>
            <li id='nav-plans'>
              <%= link_to "我的笔记本", plans_path%>
            </li>
            <li id='nav-about'>
              <%= link_to "关于我们", about_path%>
            </li>
          </ul>
        </div>  
        <div class="navbar-text pull-right">
          <%= render 'devise/menu/login_items' %>
        </div>
      </div>
    </div>
  </header>
  <div class="bg-wrap">
    <div class="container-fluid">
      <p class="notice hidden"><%= notice %></p>
      <p class="alert hidden"><%= alert %></p>
      <%= yield %>
    </div>
  </div>

  <footer id="footer">
    <div class="container-fluid">
      <ul class="clearfix">
        <li> <a href="/about"> 关于我们</a></li>
        <li> <a href="/"> 新浪微博</a></li>
        <li> <a href="/"> 使用协议</a></li>
        <li> <a href="/privacy"> 隐私条款</a></li>
      </ul>
      <p>
        <span> 2013千学网版权所有</span>
      </p>
    </div>
  </footer>

  <%= javascript_include_tag "jquery-2.0.0.min" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= yield :scripts%>
</body>
</html>